@import 'tailwindcss';

@font-face {
    font-family: Iosevka, monospace;
    src: url('/static/Iosevka-Regular.ttf');
}

:root {
    --green: #9CBF87;
    --red: #CE9790;
    --yellow: #CCB876;
}

@theme {
    --color-green: var(--green);
    --color-red: var(--red);
    --color-yellow: var(--yellow);
}

.font-link {
    @apply font-[Iosevka] text-[1.05rem];
}

